body {
    background-color: lightblue;
  }
  
  #container {
    background-color: lavender;
    border: 50px;
    border-color: black;
    padding: 50px;
    margin: 12px;
    height: 100%;
  }

  fieldset 
	{
		border: 3px solid black;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		padding: 30px ;
    font-weight: bold;
    font-size: medium;
	}	
	
		//legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
		
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
  .button{
    size: 100px;
    background-color: skyblue;
    border-radius: 10px;
    border-width: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
  }